@charset "UTF-8";
body{
	margin:0;
}
#top{
	height:36px;
	background-color: darkgoldenrod;
	font-size: 30px;
}
#top a{
	text-decoration: none;
}
#top a:active{
	color:black;
}
#top a:hover{
	font-style: italic;
	color: 	darkmagenta;
}
/*以前IE无法调整那些使用px作为单位的字体大小,但现在几乎IE都支持 在这里也推荐使用PX作为单位;*/
.page_background{
	/*color: red;*/
	background: red;
	text-align:center;
}
#div1{
	background-color: #7FFFD4;
	height: 300px;
	/*width: 100%;*/
	/*align-content: center;*/
	text-align: center;
	/*float: left;*/
}
#div2{
	color: red;
	text-align: center;
	/*float: left;*/
	margin-top: -100px;
	align-content: center;
}
/*求教css的大神，相对定位后的div怎么水平居中？*/
#div3{
	position: relative;
	background-color:white;
	width: 800px;
	height: 400px;
	margin: 0 auto;
	text-align: center;
	border:1px gray solid;
}
#div4{
	position: relative;
	background-color: white;
	width: 500px;
	height: 400px;
}
#div5{
	position: relative;
	left: 500px;
	top: -350px;
	background-color: white;
	width: 1px;
	height: 400px;
}
#div6{
	color: black;
	position: relative;
	left: 502px;
	top: -698px;
	background-color: white;
	width: 290px;
	height: 400px;
}
#div6 a{
	text-decoration: none;
	font-size: 22px;
}
#div_login_password{
	text-align: right;
}
#div8{
	text-align: left;
}
#div8 input{
	display: line;
	width: 350px;
	border-radius: 10px;
}
#div8 span{
	display: line;
	
}
#div_login_password a{
	text-align: right;
	text-decoration: none;
}
#span1{
	font-size: 30px;
}
#span3{
	width:100px;
}
#span1 a{
	text-decoration: none;
}
#select1{
	display: line;
	
}
#phone{
	display: line;
	width: 380px;
	border-radius: 5px;
}
#input2{
	width:400px;
}
#div_line_left{
	width: 250px;
	border-bottom: 1px #7FFFD4 solid;
}
#div_line_right{
	position: relative;
	width: 250px;
	text-align: right;
	left: 250px;
	border-bottom: 1px #7FFFD4 solid;
}
#table1{
	height:300px;
	border-color:000000;
	border-left-style:solid;
	border-width:1px;
}
/* /////////////////////////////////////////二次写入--------------------------------------- */
#qq_a{
	background: url("../res/image/login/qq_normal.jpg");
}
#qq_a:hover{
	background: url("../res/image/login/qq.jpg");
}
#baidu_a{
	background: url("../res/image/login/baidu_normal.jpg");
}
#baidu_a:hover{
	background: url("../res/image/login/baidu.jpg");
}
#weixin_a{
	background: url("../res/image/login/weixin_normal.jpg");
}
#weixin_a:hover{
	background: url("../res/image/login/weixin.jpg");
}
#xinlang_a{
	background: url("../res/image/login/xinlang_normal.jpg");
}
#xinlang_a:hover{
	background: url("../res/image/login/xinlang.jpg");
}