@charset "UTF-8";
#div_classify ul{
	position: relative;
}
#div_classify .li_1st{
	position: relative;
	left: -40px;
}
#div_classify li{
    position:relative !important;
    list-style: none;
}

#div_classify li input {  
position:absolute;left:0;margin-left:0;opacity:0;z-index:2;cursor:pointer;height:1em;width:1em;top:0;  
}  
#div_classify input + ol {  
display:none;  
background:url('../res/image/tree/toggle.png') 0px 0px no-repeat;
margin:-1.5em 0 0 0;
display:block; 
padding:1em 0 0 1em; 
background-size:1.2em 1.2em; 

}  
#div_classify input + ol > li {  
height:0;overflow:hidden;padding-left:1px;  
}  
#div_classify li label,a {  
 cursor:pointer;display:block;padding-left:1.3em;
}  
#div_classify input:checked + ol {  
 background:url('../res/image/tree/toggled.png') 0px 0px no-repeat;
 display:block; 
 background-size:1.2em 1.2em;
}  
#div_classify input:checked + ol > li {  
height:auto;  
}   
